<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4>RIFA</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="randomName">Nombre Aleatorio</label>
            <p>{{ selectorWinner }}</p>
          </div>
          <button class="btn btn-primary" (click)="generateRandomName()">Generar Nombre Aleatorio</button>
        </div>
      </div>
    </div>
  </div>
</div>
