html, body{ background:#fff; margin:0; padding:0; }

#mainHolder{ position:relative; width:100%; height:100%; font-family: 'Poppins', sans-serif; text-align:center; }
.startBackground{ background:#1a5fb4; width:100%; padding:80px 0 50px; color:#fff; }
.endBackground{ background:#ECEFF1; width:100%; padding:40px 0 30px; color:#1a5fb4; }
section{ width:100%; max-width:900px; margin:auto; padding:20px 0; position:relative; }
.single{ padding:50px 0; }

h1{ font-family: 'Poppins', sans-serif; font-weight:bold; font-size:60px; margin:30px 0; text-transform: uppercase; }
h2{ font-family: 'Poppins', sans-serif; font-weight:bold; font-size:50px; margin:30px 0; text-transform: uppercase; }
h3{ font-family: 'Poppins', sans-serif; font-weight:bold; font-size:30px; margin:20px 0; text-transform: uppercase; }
h5{ font-family: 'Poppins', sans-serif; font-weight:bold; font-size:20px; margin:10px 0; text-transform: uppercase; }
.fontFeatures{ font-family: 'Poppins', sans-serif; font-size:20px; line-height:20px; }

.colorBlue{ color:#1a5fb4; }
.colorGrey{ color:#666; }

hr{ border:none; border-bottom:#ECEFF1 solid 2px; width:90%; margin:auto; max-width:750px; }

.demo{ width:85%; margin:auto;}
.action { margin-top:50px; text-align:center; }
.features{ text-align:left; width:80%; margin:auto; }
.features li{ padding:10px 0; }
.howto{ color:#999; }
.step{ margin:50px 0 20px; }

pre{ border-radius:10px; }
.fitImg img{ width:100%; height:auto; display:block; }

@media only screen and (max-width: 900px) {
	h1{ font-size:50px; margin:30px 0; }
	h2{ font-size:40px; margin:30px 0; }
	h3{ font-size:25px; margin:20px 0; }
	h5{ font-size:15px; margin:10px 0; }

	.fontFeatures{ font-size:20px; line-height:20px; }

	.startBackground{ padding:70px 0 40px; }
	.endBackground{ padding:30px 0 20px; }
	.step{ margin:40px 0 20px; }
}

@media only screen and (max-width: 700px) {
	h1{ font-size:40px; margin:20px 0; }
	h2{ font-size:30px; margin:20px 0; }
	h3{ font-size:20px; margin:15px 0; }
	h5{ font-size:12px; margin:5px 0; }

	.fontFeatures{ font-size:15px; line-height:15px; }

	.startBackground{ padding:50px 0 20px; }
	.endBackground{ padding:20px 0 15px; }
	.step{ margin:30px 0 15px; }
}

/* General Buttons */
